
.s-collapse {
	@apply flex flex-col gap-1;
}


.s-collapse-item {
	$this: &;

	@apply flex flex-col w-full;

	&__header {
		@apply w-full justify-start;
		@apply py-2;
	}

	.s-button {
		&__text {
			@apply text-left;
		}
	}

	&__arrow {
		@apply transition-transform duration-300;
		@apply shrink-0;
	}

	&[aria-selected='true'] &__arrow {
		@apply rotate-90;
	}

	&__body {
		@apply grid grid-rows-[0fr];
		transition: grid-template-rows 300ms ease;
	}

	&[aria-selected='true'] > &__body {
		@apply grid-rows-[1fr];
	}

	&__content {
		@apply overflow-hidden py-0;
		transition: padding 300ms ease;
	}

	&[aria-selected='true'] &__content {
		@apply py-2;
	}
}
